#cookie-notice {
    padding: 0.5rem 1rem; 
    display: none;
    text-align: center; 
    font-size: small;
    position: fixed; 
    bottom: 0; 
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px; 
    width: 100%; 
    background: var(--consent-bg);
    color: var(--primary);
    z-index: 1;
}
    
#cookie-notice a {font-weight: 600; display: inline-flex; cursor: pointer; margin-left: 0.5rem;}
#cookie-notice-accept {color: var(--consent-ok)}
#cookie-notice-deny {color: var(--consent-no)}

@media (max-width: 767px) {
    #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
    #cookie-notice a {position: relative; bottom: 4px;}
    #cookie-notice {left: 0px;}
}
    
